{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-1.10.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/flot/jquery.flot.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/flot/jquery.flot.time.min.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var temperatures = [];
    var opts = { series: { shadowSize: 0 },
                 yaxis: { min: 10, max: 80 },
                 xaxis: { mode: "time", timeformat: "%H:%M" } };
    var plot = $.plot($("#temperature-chart"), [ temperatures ], opts);
    var do_plot = true;
    var old_selector = "";
    var go_to_index = false;

    function set_row_status(selector, fa_icon) {
      $(selector + " td:nth-child(4)").html("<i class='fa " + fa_icon + "'></i>");
    }

    $.getJSON('/api/status', function (data) {
      var table = $("#steps");

      $("#steps > tbody > tr").each(function() {
        if (this.id == data.step.id)
          return false;

        $(this).addClass("success");
        set_row_status("#" + this.id, 'fa-check');
      });
    });

    function update() {
      if (go_to_index)
        window.location.replace("/");

      $.getJSON('/api/status', function (data) {
        var row_selector = "#" + data.step.id;

        if (old_selector != row_selector) {
          if (old_selector != "") {
            $(old_selector).removeClass("warning");
            $(old_selector).addClass("success");
            set_row_status(old_selector, 'fa-check');
          }

          $(row_selector).addClass("warning");
          old_selector = row_selector;
        }

        if (data.step.state == "heat") {
          set_row_status(row_selector, 'fa-fire');
        }
        else if (data.step.state == "rest") {
          set_row_status(row_selector, 'fa-clock-o');
        }

        if (do_plot) {
          temperatures.push([data.timestamp, data.temperature]);
          plot.setData([ temperatures ]);

          plot.setupGrid();
          plot.draw();
        }

        setTimeout(update, 2000);
      });
    }

    $("#update-temperature").change(function() {
      do_plot = ! do_plot;
      update();
    });

    $("#panic-button").click(function() {
      $("#panic-button").prop('disabled', true);
      $.post('/stop');
      go_to_index = true;
    });

    update();
  });
</script>
  <h2>{% trans %}Mashing{% endtrans %}</h2>

  <div class="row">
    <div class="span12">
      <h3>{% trans %}Steps{% endtrans %}</h3>

      <table id="steps" class="table table-hover">
        <thead>
          <tr>
            <th>{% trans %}Step{% endtrans %}</th>
            <th>{% trans %}Time (min){% endtrans %}</th>
            <th>{% trans %}Temperature (°C){% endtrans %}</th>
            <th>{% trans %}Status{% endtrans %}</th>
          </tr>
        </thead>

        <tbody>
        {% for step in brew.mash %}
          <tr id="{{ step.id }}">
            <td>{{ step.name }}</td>
            <td>{{ step.time }}</td>
            <td>{{ step.temperature }}</td>
            <td></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <h3>{% trans %}Temperature{% endtrans %}</h3>
  <div class="row">
    <div class="span8">
      <div id="temperature-chart" style="width: 500px; height: 400px"></div>
    </div>

    <div class="span4">
      <p>
        <input type="checkbox" id="update-temperature" checked> {% trans %}Update temperature{% endtrans %}
      </p>

        <p>{% trans %}<button type="submit" class="btn btn-danger" id="panic-button"><i
            class="fa fa-ban"></i> Stop</button> the process immediately.{% endtrans %}</p>
    </div>
  </div>

{% endblock %}
