{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-1.10.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/flot/jquery.flot.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/flot/jquery.flot.time.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/bootstrap-switch.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/knockout/knockout-3.0.0.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var temperatures = [];
    var opts = { series: { shadowSize: 0 },
                 yaxis: { min: 10, max: 80 },
                 xaxis: { mode: "time", timeformat: "%H:%M" } };
    var plot = $.plot($("#temperature-chart"), [ temperatures ], opts);
    var doPlot = true;
    var oldSelector = "";
    var oldText = "";
    var doReturn = false;

    function setRowStatus(selector, fa_icon) {
      $(selector + " td:nth-child(4)").html("<i class='fa " + fa_icon + "'></i>");
    }

    function checkSelector(selector) {
      if (selector != "") {
        $(selector).removeClass("warning");
        $(selector).addClass("success");
        setRowStatus(selector, 'fa-check');
      }
    }

    $.getJSON('/api/status', function (data) {
      var table = $("#steps");

      /* Initialize temperatures */
      $.getJSON('/api/brews/{{ brew._id }}/temperature', function (data) {
        temperatures = data.temperatures;
      });

      /* Set success for past steps */
      $("#steps > tbody > tr").each(function() {
        if (this.id == data.step.id)
          return false;

        $(this).addClass("success");
        setRowStatus("#" + this.id, 'fa-check');
      });
    });

    function checkSwitch() {
      $.getJSON('/api/status', function (data) {
        if (data.connected) {
          $('#controller-switch').bootstrapSwitch('setActive', false);
        }
        else {
          $('#heater-switch').bootstrapSwitch('setActive', false);
          $('#stirrer-switch').bootstrapSwitch('setActive', false);
        }

        $('#controller-switch').bootstrapSwitch('setState', data.connected);
        $('#heater-switch').bootstrapSwitch('setState', data.heating);
        $('#stirrer-switch').bootstrapSwitch('setState', data.stirring);
      });
    }

    function disablePanicButton() {
      $("#panic-button").prop('disabled', true);
    }

    function TemperatureModel() {
      this.temperature = ko.observable();
      this.slope = ko.observable("1.2344534");

      function formatTemperature(value) {
        return value.toFixed(1);
      }

      this.formattedTemperature = ko.computed(function() {
        return formatTemperature(parseFloat(this.temperature()));
      }, this);

      this.formattedSlope = ko.computed(function() {
        return formatTemperature(parseFloat(this.slope()));
      }, this);
    }

    temperatureModel = new TemperatureModel();
    ko.applyBindings(temperatureModel);

    function update() {
      /* Check if we pressed the stop button */
      if (doReturn)
        window.location.replace("/");

      /* Check hardware and brewing status */
      $.getJSON('/api/status', function (data) {
        temperatureModel.temperature(data.temperature);
        temperatureModel.slope(data.slope);

        if (data.state == "preparing") {
          disablePanicButton();
          checkSelector(oldSelector);
          return false;
        }

        var rowSelector = "#" + data.step.id;

        if (oldSelector != rowSelector) {
          checkSelector(oldSelector);
          $(rowSelector).addClass("warning");
          oldSelector = rowSelector;
        }

        switch (data.state) {
          case "heating":
            setRowStatus(rowSelector, 'fa-fire');
            break;

          case "resting":
            setRowStatus(rowSelector, 'fa-clock-o');
            break;
        }

        if (doPlot) {
          temperatures.push([data.timestamp, data.temperature]);
          plot.setData([ temperatures ]);

          plot.setupGrid();
          plot.draw();
        }

        checkSwitch();
        setTimeout(update, 2000);
      });

      /* Check notes */
      if ($('#user-notes').val() != oldText) {
        oldText = $('#user-notes').val();

        $.ajax({
          url: '/api/brews/{{ brew._id }}/note',
          data: JSON.stringify({ note: oldText }),
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          type: "PUT",
        });
      }
    }

    $('#update-switch').on('switch-change', function (e, data) {
      doPlot = data.value;
    });

    $("#panic-button").click(function() {
      disablePanicButton();
      $.post('/stop');
      doReturn = true;
    });

    update();
  });
</script>
  <h2>{% trans %}Mashing{% endtrans %}</h2>

  <div class="row">
    <div class="span12">
      <h3>{% trans %}Steps{% endtrans %}</h3>

      <table id="steps" class="table table-hover">
        <thead>
          <tr>
            <th>{% trans %}Step{% endtrans %}</th>
            <th>{% trans %}Time (min){% endtrans %}</th>
            <th>{% trans %}Temperature (°C){% endtrans %}</th>
            <th>{% trans %}Status{% endtrans %}</th>
          </tr>
        </thead>

        <tbody>
        {% for step in brew.mash %}
          <tr id="{{ step.id }}">
            <td>{{ step.name }}</td>
            <td>{{ step.time }}</td>
            <td>{{ step.temperature }}</td>
            <td></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <h3>{% trans %}Temperature{% endtrans %}</h3>
  <div class="row">
    <div class="span8">
      <div id="temperature-chart" style="width: 500px; height: 400px"></div>
    </div>

    <div class="span4">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>{% trans %}Temperature{% endtrans %}</td>
            <td><span data-bind="text: formattedTemperature"></span> °C
                <small>(<span data-bind="text: formattedSlope"></span>{% trans %} °C / min{% endtrans %})</small>
            </td>
          </tr>
          <tr>
            <td>{% trans %}Update{% endtrans %}</td>
            <td>
              <div id="update-switch" class="make-switch switch-small"
                data-on="default" data-off="default"
                data-on-label="<i class='fa fa-refresh'></i>"
                data-off-label="<i class='fa fa-power-off'></i>">
                <input type="checkbox" id="update-switch-input" checked>
              </div>
            </td>
          </tr>
          <tr>
            <td>{% trans %}Heater{% endtrans %}</td>
            <td>
              <div id="heater-switch" class="make-switch switch-small"
                data-on="success" data-off="default"
                data-on-label="<i class='fa fa-fire'></i>"
                data-off-label="<i class='fa fa-power-off'></i>">
                <input id="heater-switch-input" type="checkbox">
              </div>
            </td>
          </tr>
          <tr>
            <td>{% trans %}Stirrer{% endtrans %}</td>
            <td>
              <div id="stirrer-switch" class="make-switch switch-small"
                data-on="success" data-off="default"
                data-on-label="<i class='fa fa-cogs'></i>"
                data-off-label="<i class='fa fa-power-off'></i>">
                <input id="stirrer-switch-input" type="checkbox">
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button type="submit" class="btn btn-danger" id="panic-button"><i class="fa fa-ban"></i> {% trans %}stop{% endtrans %}</button>
            </td>
          </tr>
        </tbody>
      </table>

      <form id="note">
        <label>{% trans %}Notes{% endtrans %}</label>
        <textarea id="user-notes" rows=5 cols=50></textarea>
      </form>
    </div>
  </div>

{% endblock %}
