<!doctype html>
<html>
  <head>
    <title>Brew-a-Beer</title>
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/underscore/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jsonform/jsonform.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <h1>Brew a …</h1>
      <div id="res" class="alert"></div>
      <form></form>
      <script type="text/javascript">
        $('form').jsonForm({
          schema: {
            name: {
              type: 'string',
              title: 'Name',
              required: true,
            },
            character: {
              type: 'object',
              title: 'Character',
              properties: {
                alc: {
                  type: 'number',
                  title: 'Alcohol',
                  required: true
                },
                ibu: {
                  type: 'number',
                  title: 'Bitterness',
                  required: true
                }
              }
            },
            malts: {
              type: 'array',
              items: {
                type: 'object',
                title: 'Malt',
                properties: {
                  name: {
                    type: 'string',
                    title: 'Name',
                    required: true
                  },
                  amount: {
                    type: 'number',
                    title: 'Amount',
                    required: true
                  }
                }
              }
            }
          },
          onSubmit: function(errors, values) {
            if (errors) {
              $('#res').html('<p>Again!</p>');
            }
            else {
              $.ajax({
                url: "{{ url_for(request.endpoint) }}",
                data: JSON.stringify(values),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                type: "POST",
                success: function(response) {
                  window.location.href = "{{ url_for('index') }}";
                }
              });
            }
            return false;
          }
        });
      </script>
    </div>
  </body>
</html>
