{% extends "layout.html" %}
{% block body %}
<h1>Create a new recipe</h1>
<div id="res" class="alert"></div>
<form class="form-horizontal"></form>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-1.10.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-ui-1.10.3.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/underscore/underscore-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jsonform/jsonform.js') }}"></script>

<script type="text/javascript">
  $('form').jsonForm({
    schema:
    {% autoescape false %}
    {{ schema }}
    {% endautoescape %}
    ,
    onSubmit: function(errors, values) {
      if (errors) {
        $('#res').html('<p>Again!</p>');
      }
      else {
        $.ajax({
          url: "{{ url_for(request.endpoint) }}",
          data: JSON.stringify(values),
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          type: "POST",
          success: function(response) {
            window.location.href = "{{ url_for('index') }}";
          }
        });
      }
      return false;
    }
  });
</script>
{% endblock %}
