{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          $('a.get-label').click(function() {
            var url = $(this).attr('href');
            var icon = $('i', this);
            var toggle = function() {
              icon.toggleClass('fa-print')
              icon.toggleClass('fa-spinner')
              icon.toggleClass('fa-spin')
            }

            toggle();

            $.get(url + '/prepare', function(data) {
              toggle();
              window.location.replace(url);
            });
            return false;
          });
      });
    </script>
  {% if current_brew %}
  <div class="row">
    <div class="span12">
      <h2>{% trans %}Brew ongoing{% endtrans %}</h2>
          <p>Brew process in progress. <a href="/brews">Take</a> a closer
          look or <a href="/stop">stop</a> immediately.</p>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="span12">
      <h2>{% trans %}Choose a recipe{% endtrans %}</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{% trans %}Beer{% endtrans %}</th>
            <th>{% trans %}Gravity{% endtrans %}</th>
            <th>{% trans %}Alcohol{% endtrans %}</th>
            <th>{% trans %}Color{% endtrans %}</th>
            <th>{% trans %}Bitter{% endtrans %}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
          <tr>
            <td><a href="/prepare/brew/{{ recipe._id }}">{{ recipe.name }}</a></td>
            <td>{{ recipe.characteristics.gravity }}</td>
            <td>{{ recipe.characteristics.alc }}</td>
            <td>{{ recipe.characteristics.ebc }}</td>
            <td>{{ recipe.characteristics.ibu }}</td>
            <td>
              <a href="/edit/recipe/{{ recipe._id }}" title="{% trans %}Edit{% endtrans %}"><i class="fa fa-pencil-square-o"></i></a>&ensp;
              <a href="/delete/recipe/{{ recipe._id }}" title="{% trans %}Delete{% endtrans %}"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <p>{% trans %}Create a <a href="/create/recipe">new</a> recipe.{% endtrans %}</p>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="span12">
      <h2>{% trans %}Past brews{% endtrans %}</h2>
      <table id="brew-table" class="table table-hover">
        <thead>
          <tr>
            <th>{% trans %}Date{% endtrans %}</th>
            <th>{% trans %}Beer{% endtrans %}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for brew in brews %}
        <tr>
          <td>{{ brew.date | datetime }}</td>
          <td><a href="/view/brew/{{ brew._id }}">{{ brew.recipe }}</a></td>
          <td>
            <a href="/delete/brew/{{ brew._id }}" title="{% trans %}Delete{% endtrans %}"><i class="fa fa-trash-o"></i></a>&ensp;
            <a href="/api/brews/{{ brew._id }}/label" class="get-label" title="{% trans %}Label{% endtrans %}"><i class="fa fa-print"></i></a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
