<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" />
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='css/bootstrap-switch.css') }}" />
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='css/sortable-theme-minimal.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <title>Brewmeister</title>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Brewmeister</h1>
      </div>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
