{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-1.10.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/knockout/knockout-3.0.0.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    function AmountModel() {
      this.amountLiter = ko.observable("20");

      this.totalMass = ko.computed(function() {
        var density = 261.1 / (261.53 - {{ recipe.characteristics.gravity }});
        return parseFloat(this.amountLiter()) * density * {{ recipe.characteristics.gravity }} / 65.0;
      }, this);

      {% for malt in recipe.malts %}
      this.{{ malt.name|replace(' ', '') }}Amount = ko.computed(function() {
        var mass = parseFloat(this.totalMass()) * {{ malt.percentage }} / 100.0;
        return Math.round(mass * 100) / 100;
      }, this);
      {% endfor %}
    }

    ko.applyBindings(new AmountModel());
  });
</script>

<h2>{% trans %}Prepare brew{% endtrans %}</h2>

<div class="row">
  <div class="span12">
    <h3>{% trans %}Ingredients{% endtrans %}</h3>

    <form action="/brews" method="POST">
      <fieldset>
        <input name="recipe_id" type="hidden" value="{{ recipe._id }}">
      </fieldset>
      <fieldset>
        {% trans %}Estimated amount{% endtrans %} <input name="amount" data-bind="value: amountLiter, valueUpdate:'afterkeydown'" type="text" placeholder="20"> Liter
      </fieldset>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>{% trans %}Malt{% endtrans %}</th>
            <th>{% trans %}Amount{% endtrans %}</th>
            <th>{% trans %}Percentage{% endtrans %}</th>
          </tr>
        </thead>
        <tbody>
        {% for malt in recipe.malts %}
          <tr>
            <td>{{ malt.name }}</td>
            <td><span data-bind="text: {{ malt.name|replace(' ', '') }}Amount"></span> kg</td>
            <td>{{ malt.percentage }} %</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <button type="submit" class="btn btn-primary btn-large"><i class="fa
          fa-beer"></i> {% trans %}Brew{% endtrans %}</button>
    </form>
  </div>
</div>
{% endblock %}
